.navs{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__contents{
    display: flex;
    justify-content: space-between;

}

.nav__img{
    position: fixed;
    left: 0;
    top: 10px;
    width: 90px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}
.nav__avatar{
    position: fixed;
    width: 30px;
    right: 20px;
    cursor: pointer;
}
.nav__black{
    background-color: #111;
}